.filterRow {
  display: flex;
  justify-content: space-around;
}

.dateFilterContainer {
  margin-right: 8px;
}

@media (max-width: 1000px) {
  .filterRow {
    display: block;
    justify-content: space-around;
  }
}
